@model IEnumerable<GoTrain.Models.AspNetUsers>

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
</head>
<body>
    <form class="Postnummerform" action="Post" method="Post">
        <input type="number" name="postnummer" value="" />
        <input type="submit" value="Søg på postnummer" />


    </form>

    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Postnummer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Postnummer)
                    </td>
                    <td>
                        <a asp-action="" asp-controller="" asp-route-id="@item.Id">Træn med</a> |
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>
